
.aa {
        font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    color: #fff!important;
    min-width: 130px;
    margin-right: 10px;
    text-decoration: none;
    padding: 12px 25px;
    margin-top: 25px;
    /* float: left; */
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    background: #e02217!important;
}
