/*------------------------------------------------------------------
[Master Stylesheet]

Project:        D-Lister 
Version:        1.0
Primary use:    D-Lister | Directory & Listing Responsive HTML5 Template
Author:         Company Name
-------------------------------------------------------------------*/

/*
This file contains the common styles of this theme.
*/

/*------------------------------------------------------------------
[table of contents]
*
* body
* normalize css
    * headings
    * custom scrollbar
    * custom button
    * background color
    * color
    * owl custom
    * list styles
* all title 
* back-to-top
* Preloader Css
* Header Css
* Main banner
   * Main banner 1
   * Main banner 2
* Theme header 
   * Header-Top
   * Header-Menu
   * Search bar
* Popular-listing
* Steps
* Features
* Listing Category
* Partner-one
* Blog
   * Blog-1
   * Blog-2
   * Blog detail
      * Comments
* Sidebar
* Counters
* Testimonial
* App Section
* Theme Map
* Contact Us
* Page Banner
* About Us
* Team
* Error page
* FAQ 
* Login / Signup
* Pricing
* Add Listing Page
   * Range-slider
* Footer
* Custom checkbox
* Listing with Map
* Listing detail page
* 
* ===============================================
*/

/*======================= 
   body
======================= */

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-weight: 400;
    color: #858585;
    padding: 0;
    margin: 0;
}

/* ======================
	normalize css
======================= */

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #858585;
    line-height: 24px;
    margin: 0;
    margin-bottom: 15px;
}

span {
    color: inherit;
}

i {
    line-height: 1;
    font-style: normal;
}

a {
    text-decoration: none;
    outline: 0 none;
    color: inherit;
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0 none;
    color: inherit;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

iframe {
    border: none;
}

:active,
:focus {
    outline: none !important;
}

.btn.focus,
.btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: initial;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

option {
    padding: 15px;
    color: #000;
}

option:hover {
    color: #ff3a54
}

.form-control:focus,
.form-control:hover {
    border-color: #ff3a54 !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.center-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.px-30 {
    padding: 0 30px;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.c-red {
    color: #ff3a54;
}

.c-black {
    color: #000
}

.c-white {
    color: #fff;
}

.bor-1 {
    border: 1px solid #d7d7d7;
}

.bor-l {
    border-left: 1px solid #d7d7d7;
}

.bor-b {
    border-bottom: 1px solid #d7d7d7;
}

.o-hide {
    overflow: hidden;
}

.form-control {
    margin-bottom: 30px;
    border: 0;
    border: 1px solid #e1e1e1;
    text-transform: capitalize;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #fff;
    color: #858585;
    font-weight: 400;
    position: relative;
    padding: 8px 15px 6px;
    height: auto;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

:focus::-ms-input-placeholder {
    opacity: 0;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

:focus::placeholder {
    opacity: 0;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

textarea {
    overflow: hidden;
}

.form-control::-webkit-input-placeholder {
    color: #858585;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.top-search .form-control::-webkit-input-placeholder {
    color: #fff
}

/* ======================
	HEADINGS
======================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}

h1 {
    font-size: 55px;
    font-weight: 600;
    text-transform: capitalize;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    text-transform: capitalize;
}

h3 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

h4 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

h5 a,
h6 a {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

h5:hover a {
    color: #ff3a54;
}

h6 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.sp-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sp-70-100 {
    padding-top: 70px;
    padding-bottom: 100px;
}

.sp-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}
.sp-30-70 {
    padding-top: 100px;
    padding-bottom: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.centering {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*=========================== 
   custom scrollbar
============================= */

/* width */

::-webkit-scrollbar {
    width: 10px;
    background: #eee;
}

/* Track */

/* Handle */

::-webkit-scrollbar-thumb {
    background: #ff3a54;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #ff3a54;
}

/*======================= 
   custom button
======================= */

.btn {
    border: 0;
    border-radius: 100px;
    font-size: 14px;
    padding: 11px 30px 8px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.btn i {
    margin-right: 7px;
}

.w-100 {
    width: 100%
}

.btn-one,
.btn-one:hover {
    background-color: #ff3a54;
    color: #fff;
}

.btn-two,
.btn-two:hover {
    background-color: #fff;
    color: #ff3a54;
}

.br-0 {
    border-radius: 0
}

.br-5 {
    border-radius: 5px;
}

.br-10 {
    border-radius: 10px;
}

/*  btn-animation */

.btn-anim {
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.btn-anim::before {
    position: absolute;
    border-radius: 100px;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.btn-two.btn-anim::before {
    background: rgba(255, 58, 84, 0.3);
}

.btn-anim:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
    opacity: 1;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

/* ======================
	background color
======================= */

.bg-w {
    background-color: #fff;
}

.bg-dull {
    background-color: #f5f7fa;
}

.bg-red {
    background-color: #ff3a54;
}

/* ======================
	color
======================= */

.c-theme {
    color: #ff3a54
}

.c-white {
    color: #fff !important;
}

.fw-5 {
    font-weight: 500
}

/*================== 
    owl custom
==================*/

.owl-theme .owl-dots .owl-dot span {
    background: #e1e1e1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin: 0 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff3a54
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
    line-height: 1;
}

/* =====================
    list styles
========================*/

.list-2 li {
    position: relative;
    padding-left: 15px;
}

.list-2 li:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    left: 0;
    top: 8px;
    background-color: #ff3a54;
}

/*==================    
   all title 
==================*/

.all-title {
    text-align: center;
    position: relative;
    margin-bottom: 60px;
}

.sec-title {
    color: #000;
    position: relative;
    margin-bottom: 10px;
    line-height: 1;
}

.all-title.white2 .sec-title {
    color: #fff;
}

.all-title .title-sep {
    fill: #ff3a54;
}

.title-sep2 {
    padding-bottom: 15px;
    position: relative
}

.title-sep3 {
    padding-bottom: 15px;
    position: relative
}

.title-sep2::after {
    position: absolute;
    background-color: #ff3a54;
    height: 2px;
    width: 60px;
    content: '';
    bottom: 0;
    left: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.title-sep3::after {
    position: absolute;
    background-color: #e1e1e1;
    height: 1px;
    width: 100%;
    content: '';
    bottom: 0;
    left: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.all-title.white .sec-title {
    color: #fff
}

.all-title.white2 .title-sep {
    fill: #fff;
}

.sec-title span {
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.all-title p {
    max-width: 800px;
    margin: 20px auto 0;
    color: #858585;
}

.all-title.white p,
.all-title.white2 p {
    color: #fff
}

.title-sep {
    fill: #000;
    height: 20px;
    width: 36px;
}

/*================== 
    back-to-top
==================*/

#toTop {
    border: none;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    opacity: 0.8;
    position: fixed;
    bottom: 15px;
    right: 30px;
    text-align: center;
    text-decoration: none;
    width: 60px;
    z-index: 999;
    text-shadow: 0 0 5px #ffffff;
}

#toTop:hover,
#toTop span {
    opacity: 1;
}

#toTop:active,
#toTop:focus {
    outline: none;
}

#toTop:before,
#toTop:after,
#toTop span {
    content: "";
    display: table;
}

#toTop:before,
#toTop:after,
#toTop span {
    height: 0px;
    margin: auto;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 0px;
    -webkit-animation: enlarge_1 2s infinite;
    animation: enlarge_1 2s infinite;
}

#toTop:after {
    -webkit-animation: enlarge_2 2s infinite 0.5s;
    animation: enlarge_2 2s infinite 0.5s;
}

#toTop span {
    -webkit-animation: enlarge_3 2s infinite 0.75s;
    animation: enlarge_3 2s infinite 0.75s;
}

@-webkit-keyframes enlarge_1 {
    from {
        opcatiy: 1;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 4px solid #ff3a54;
        margin-top: 0px;
    }
    to {
        opacity: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 60px solid #ff3a54;
        margin-top: -60px;
    }
}

@keyframes enlarge_1 {
    from {
        opcatiy: 1;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 4px solid #ff3a54;
        margin-top: 0px;
    }
    to {
        opacity: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 60px solid #ff3a54;
        margin-top: -60px;
    }
}

@-webkit-keyframes enlarge_2 {
    from {
        opcatiy: 1;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 4px solid #ff3a54;
        margin-top: -4px;
    }
    to {
        opacity: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 60px solid #ff3a54;
        margin-top: -60px;
    }
}

@keyframes enlarge_2 {
    from {
        opcatiy: 1;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 4px solid #ff3a54;
        margin-top: -4px;
    }
    to {
        opacity: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 60px solid #ff3a54;
        margin-top: -60px;
    }
}

@-webkit-keyframes enlarge_3 {
    from {
        opcatiy: 1;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 4px solid #ff3a54;
        margin-top: -4px;
    }
    to {
        opacity: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 60px solid #ff3a54;
        margin-top: -60px;
    }
}

@keyframes enlarge_3 {
    from {
        opcatiy: 1;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 4px solid #ff3a54;
        margin-top: -4px;
    }
    to {
        opacity: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 60px solid #ff3a54;
        margin-top: -60px;
    }
}

/*====================== 
    Preloader Css
========================*/

.preloader {
    width: 100%;
    height: 100%;
    background-color: #ff3a54;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 999999999;
}

.loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.dash {
    margin: 0 15px;
    color: #fff;
    font-size: 50px;
}

.one {
    margin-right: -18px;
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.two {
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
    -webkit-animation: spin2 2s linear infinite;
    animation: spin2 2s linear infinite;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.three {
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
    -webkit-animation: spin3 2s linear infinite;
    animation: spin3 2s linear infinite;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    30% {
        -webkit-transform: rotate(370deg);
        transform: rotate(370deg);
    }
    35% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    30% {
        -webkit-transform: rotate(370deg);
        transform: rotate(370deg);
    }
    35% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    35% {
        -webkit-transform: rotate(-190deg);
        transform: rotate(-190deg);
    }
    40% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    78% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    95% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
    98% {
        -webkit-transform: rotate(-370deg);
        transform: rotate(-370deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    35% {
        -webkit-transform: rotate(-190deg);
        transform: rotate(-190deg);
    }
    40% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    78% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    95% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
    98% {
        -webkit-transform: rotate(-370deg);
        transform: rotate(-370deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    27% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    45% {
        -webkit-transform: rotate(190deg);
        transform: rotate(190deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    62% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    80% {
        -webkit-transform: rotate(370deg);
        transform: rotate(370deg);
    }
    85% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    27% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    40% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    45% {
        -webkit-transform: rotate(190deg);
        transform: rotate(190deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    62% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    80% {
        -webkit-transform: rotate(370deg);
        transform: rotate(370deg);
    }
    85% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*====================== 
    Main banner
========================*/

/* main banner 1*/

.main-banner {
    position: relative;
    z-index: 0;
    text-align: center;
}

.banner-image {
    background-image: url(../img/home/baner-img1.jpg);
    background-size: cover;
    background-position: 100% 50%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.banner-image::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background: #000;
    opacity: .4;
    z-index: -1;
}

.banner-content {
    padding: 280px 0 200px;
}

.banner-content h2 {
    color: #fff
}

.banner-content p {
    max-width: 670px;
    color: #fff;
    margin: 0 auto;
}

.banner-form .form-control {
    border-radius: 50px;
    border-color: #fff;
    color: inherit;
}

.list-items {
    text-align: center;
    border: 1px solid #ff3a54;
    border-radius: 10px;
    overflow: hidden;
}

.list-items .icon-box {
    padding: 20px 10px 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

.list-items .icon-box i,
.list-items2 .icon-box i {
    color: #fff;
    font-size: 40px;
}

.list-items h5 {
    background-color: #ff3a54;
    color: #fff;
    padding: 10px 0 7px;
}

.list-items2 h5 {
    color: #fff;
}

.list-items h5:hover a,
.list-items2 h5:hover a {
    color: #fff;
}

.list-items2 {
    background-color: #ff3a54;
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding: 20px 10px 15px;
}

.list-category-slider.owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    top: calc(50% - 17.5px);
    width: 110%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: -1;
    left: -5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.list-category-slider.owl-theme:hover .owl-nav {
    opacity: 1;
}

.list-category-slider.owl-theme .owl-nav [class*=owl-] {
    padding: 0;
    height: 35px;
    width: 35px;
    line-height: 37px;
    margin: 0;
    border-radius: 50%;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    border: 1px solid #eee;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.list-category-slider.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #ff3a54;
    color: #fff;
    border-color: #ff3a54;
}

.list-category-slider.owl-theme .owl-dots .owl-dot span {
    border-color: #ff3a54;
}

/* main banner 2*/

.main-banner-2 {
    position: relative;
    z-index: 0;
    text-align: center;
    overflow: hidden;
}

.banner-image2 {
    height: 100%;
    position: relative;
    padding: 205px 0;
    z-index: 0;
}

.banner-image2::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/home/baner-img2.jpg);
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    z-index: -1;
    -webkit-animation: bgslide 40s linear infinite;
}

@-webkit-keyframes bgslide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.banner-image2::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background: #000;
    opacity: .7;
    z-index: -1;
}

.main-banner-2 .banner-content {
    position: relative;
    padding: 100px 0;
    max-width: 500px;
    margin: 0 auto;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.main-banner-2 .banner-content::before {
    position: absolute;
    background-color: #ff3a54;
    height: 50px;
    width: 1px;
    content: '';
    top: 0;
}

.main-banner-2 .banner-content::after {
    position: absolute;
    background-color: #ff3a54;
    height: 50px;
    width: 1px;
    content: '';
    bottom: 0;
}

.tilt-anim {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.main-banner-2:hover .banner-content {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px)
}


/*====================== 
   Theme Header
========================*/

/* Header-Top */

.head-top {
    font-size: 14px;
}

.head-top-one {
    background-color: #ff3a54;
    color: #fff;
}

.head-top-two {
    background-color: #fff;
    border-bottom: 1px solid #ff3a54;
}

.head-top .socials {
    color: #fff;
}

.socials-header {
    margin: 12px 0;
}

.socials a {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    display: inline-block;
    margin-right: 13px;
    padding-right: 13px;
    border-right: 1px solid #fff;
}

.footer .socials a {
    border-right: 1px solid #e1e1e1;
}

.head-top-two .socials a {
    color: #858585;
    border-right-color: #e1e1e1;
}

.socials a:hover {
    color: #000
}

.head-top-two .socials a:hover {
    color: #ff3a54;
}

.socials a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.head-contact li {
    text-transform: capitalize;
    line-height: 1;
    display: inline-block;
    margin: 5px 0;
    margin-left: 13px;
    padding: 5px 0;
    padding-left: 13px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.head-top-two .head-contact li {
    border-color: #e1e1e1;
}

.head-top-two .head-contact li a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.head-top-two .head-contact li:hover>a {
    color: #ff3a54;
}

.head-contact li i {
    margin-right: 7px;
}

.head-top-two .head-contact li i {
    color: #ff3a54
}

.head-contact li:first-child {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

.head-contact li.ad-list {
    border-left: 0
}

.language-drop .dropdown-item {
    padding: 10px;
    text-transform: capitalize;
    background-color: #fff;
    font-size: 14px;
}

.language-drop .dropdown-menu {
    min-width: 100px;
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.language-drop .dropdown-item:hover {
    color: #ff3a54;
}

.login-sign a {
    color: #000;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

/*-- header menu ---- */

.header {
    position: relative;
    z-index: 2;
}

.theme-header-one {
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.theme-header-two {
    background-color: #fff;
}

.theme-header-two.affix.sticky-menu {
    background-color: #fff;
    padding: 0;
}

.join-nav {
    position: relative;
    padding-left: 30px;
}

.join-nav::after {
    position: absolute;
    content: "";
    left: 0;
    top: 21px;
    height: 21px;
    width: 1px;
    background-color: #e1e1e1;
}

.logo-two {
    padding: 11px 20px 0;
    background-color: #ff3a54;
    position: relative;
    z-index: 99;
    height: 100%;
    text-align: center;
    max-width: 255px;
}

.menu-two .navbar-toggler {
    top: -56px;
}

.logo-two::after {
    position: absolute;
    height: calc(100% + 10px);
    width: 100%;
    content: "";
    background-color: #ff3a54;
    left: 0;
    top: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo-two a {
    position: relative;
    z-index: 9;
}

.menu-two .navbar-nav .nav-item a,
.menu-two .navbar-nav .dropdown-item a,
.menu-two .navbar-expand-lg .navbar-nav .nav-link {
    color: #000
}

.menu-two .navbar-nav .nav-item .nav-btn {
    padding: 11px 30px 8px;
    color: #fff
}

.menu .fa-search {
    font-size: 14px;
}

/* =====================
    search bar
===================== */

.top-search {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    max-width: 500px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px;
    z-index: 99999;
}

.top-search.open {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.top-search .close {
    position: fixed;
    top: 15px;
    font-weight: 400;
    right: 15px;
    opacity: 1;
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    text-shadow: none;
    background: rgba(255, 255, 255, 0.40);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.top-search .close:hover {
    opacity: 1 !important;
    background: #fff
}

.search-bar {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.top-search::after {
    position: absolute;
    content: '';
    border: 252px solid transparent;
    border-top: 77px solid rgba(0, 0, 0, 0.9);
    bottom: -329px;
}

.top-search .form-control {
    color: #fff;
    text-transform: capitalize;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    font-weight: 300;
    outline: 0;
    padding: 10px;
    height: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin: 0;
    margin-top: 40px;
    font-size: 25px;
}

.submit-btn {
    position: absolute;
    top: 12px;
    right: 0;
    background: transparent;
    color: #fff;
    font-size: 23px;
    border: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

/* =====================
    popular-listing
  ===================== */

.popular-list {
    overflow: hidden;
}

.popular-list-slider.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.owl-item .listing-item {
    opacity: 0.3;
}

.owl-item.active .listing-item {
    opacity: 1;
}

.listing-item {
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.15);
    box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.15);
}

.listing-item2 {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.15);
    box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.15);
}

.img-holder {
    position: relative;
}
.listing-item .img-holder {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}
.listing-item2 .img-holder:before,
.listing-item .img-holder::before{
    position: absolute;
    border-radius: 100px;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.listing-item:hover .img-holder::before,
.listing-item2:hover .img-holder:before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
    opacity: 1;
}
.listing-item .img-holder img {
    width: 100%;
    transition: all 0.5s ease;
    position: relative;
    transform: scale(1.2);
}
.listing-item:hover .img-holder img{
    transform: scale(1);
}
.slick-slider .listing-item {
    opacity: 0.3;
    margin: 0 15px;
}

.slick-slider .slick-active.listing-item {
    opacity: 1;
}

.listing-item2 .img-holder .likes {
    padding: 9px;
    color: #fff;
    border-top-left-radius: 10px;
    background-color: #ff3a54;
    display: inline-block;
    text-align: center;
    position: absolute;
    width: 57px;
    bottom: 0;
    line-height: 1;
    right: 0;
    font-size: 14px;
    opacity:0;
    transition: all 0.3s ease;
}
.listing-item2:hover .img-holder .likes {
   opacity: 1;
}
.listing-item2 .img-holder .likes i{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}
.listing-item .img-holder .likes i{
    margin-right:7px;
}
.offer {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #ff3a54;
    color: #fff;
    padding: 1px 5px 0 0;
    font-size: 14px;
    text-transform: capitalize;
    z-index:1;
}

.listing-item2 .offer {
    left: 25px;
    right: auto;
}

.offer::after {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    left: -20px;
    border: 10px solid transparent;
    border-right: 10px solid #ff3a54;
    z-index: 1;
}

.slick-slide.listing-item img {
    width: 100%;
    border-radius: 10px;
}

.rate-like {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 14px;
    padding: 5px 20px;
}

.likes,
.likes:hover {
    color: #fff;
}

.rating i {
    font-size: 14px;
    color: #ffc600;
}

.ctg-info li {
    padding-right: 15px;
    border-right: 1px solid #ebebeb;
    margin-right: 15px;
    text-transform: capitalize;
    color: #000;
    display: inline-block;
    font-size: 14px;
}

.ctg-info li:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
}

.ctg-info li i {
    color: #ff3a54;
    font-size: 20px;
    vertical-align: middle;
}

li.list-rating span {
    background-color: #ffffff;
    color: #ff3a54;
    padding: 3px 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    border: 1px solid;
}

li.list-rating i {
    color: #ff3a54;
    font-size: 10px;
    vertical-align: middle;
    margin-top: -3px;
}

.ctg-info {
    border-bottom: 1px solid #ebebeb;
}

.listing-item2 .list-content {
    padding: 25px;
}

.ctg-info2 {
    border-top: 1px solid #ebebeb;
}

.listing-item2 .ctg-info {
    border-bottom: 0;
}

.listing-item2 .list-content h5 {
    margin-bottom: 10px;
}

.ctg-info2 i {
    color: #ff3a54;
    font-size: 12px;
}

.ctg-info2 a {
    font-size: 14px;
    color: #000;
}

.popular-list-slider .slick-dots li button:before {
    display: none;
}

.popular-list-slider .slick-dots {
    bottom: 0;
    font-size: 0;
    position: relative;
    margin-top: 60px;
}

.popular-list-slider .slick-dots::after {
    position: absolute;
    top: 5px;
    content: "";
    left: 0;
    background-color: #e1e1e1;
    width: 100%;
    height: 1px;
    z-index: 0;
}

.popular-list-slider .slick-dots li {
    width: auto;
    height: auto;
    padding: 0 6px;
    background-color: #fff;
    z-index: 1;
    margin: 0;
}

.popular-list-slider .slick-dots li button {
    padding: 0;
    background-color: #e1e1e1;
    height: 10px;
    width: 10px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.popular-list-slider .slick-dots .slick-active button,
.popular-list-slider .slick-dots li button:hover {
    background-color: #ff3a54;
}

.popular-list-slider .slick-dots li:first-child {
    padding-left: 60px;
}

.popular-list-slider .slick-dots li:last-child {
    padding-right: 60px;
}

.listing-list-view .listing-item .list-content {
    padding: 8px;
}

/* =====================
    Steps
===================== */

.tri-bg {
    background-image: url('../img/home/triangle-bg.png');
    background-attachment: fixed;
}

.tri-bg-w {
    background-image: url('../img/home/triangle-bg2.png');
    background-attachment: fixed;
}

.steps-section {
    position: relative;
    overflow: hidden;
}

.steps {
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 66px 55px;
    z-index: 1;
    position: relative;
}

.steps:before {
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    height: 72px;
    position: absolute;
    width: 378px;
    z-index: -1;
    pointer-events: none;
}

.steps-section [class*='col-']:nth-child(3) .steps:before {
    display: none;
}

.steps .icon-box i {
    font-size: 90px;
    display: inline-block;
    color: #ff3a54;
    transition: all 0.6s cubic-bezier(0.82, 1.65, 0.54, 1.53);
    -webkit-transition: all 0.6s cubic-bezier(0.82, 1.65, 0.54, 1.53);
    -moz-transition: all 0.6s cubic-bezier(0.82, 1.65, 0.54, 1.53);
    -ms-transition: all 0.6s cubic-bezier(0.82, 1.65, 0.54, 1.53);
    -o-transition: all 0.6s cubic-bezier(0.82, 1.65, 0.54, 1.53);
}

.steps:hover i {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.cta-one {
    background-color: #ff3a54;
    position: relative;
}

.cta-content h3,
.cta-content p {
    color: #fff;
}

/* =====================
  features
===================== */

.feature-item {
    border-radius: 10px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #ebebeb;
    text-align: center;
    padding: 30px 30px 15px;
    position: relative;
    z-index: 0;
}

.feature-item.type-2 {
    text-align: left;
    border-radius: 0;
}

.feature-item::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #ff3a54;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.feature-item.type-2:hover::before {
    width: 100%;
    -webkit-transition-delay: 0.55s;
    -o-transition-delay: 0.55s;
    transition-delay: 0.55s;
}

.feature-item::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ff3a54;
    border-radius: 10px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    z-index: -1;
}

.feature-item:hover::after {
    background-color: #fff;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.82, 1.65, 0.86, 0.96);
    -webkit-transition: all 0.6s cubic-bezier(0.82, 1.65, 0.86, 0.96);
    -moz-transition: all 0.6s cubic-bezier(0.82, 1.65, 0.86, 0.96);
    -ms-transition: all 0.6s cubic-bezier(0.82, 1.65, 0.86, 0.96);
    -o-transition: all 0.6s cubic-bezier(0.82, 1.65, 0.86, 0.96);
}

.feature-item:hover {
    -webkit-box-shadow: 9.397px 3.42px 40px 0px rgba(39, 39, 39, 0.1);
    box-shadow: 9.397px 3.42px 40px 0px rgba(39, 39, 39, 0.1);
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    border-color: #fff;
}

.feature-item .icon-box {
    margin-bottom: 25px;
}

.feature-item .icon-box i {
    color: #ff3a54;
    font-size: 40px;
}

/* =====================
  Listing Category
===================== */

.ctg-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ctg-item:hover {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.18);
    box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.18);
}

.ctg-item .icon-box {
    padding: 60px 0;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
}

.ctg-item .icon-box::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background: #000;
    opacity: .5;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.ctg-item .icon-box::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background: #ff3a54;
    opacity: .65;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.ctg-item:hover .icon-box::after {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.ctg-item:hover .icon-box::before {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.ctg-item .icon-box i {
    color: #fff;
    font-size: 50px;
}

.content-box {
    background-color: #fff;
}

/* =====================
  Partner-one
===================== */

.partner-one {
    overflow: hidden;
}

.partner-slider.owl-carousel .owl-stage {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-touch-action: pan-Y;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-backface-visibility: hidden;
}

.owl-carousel .partner-slide img {
    width: auto;
    margin: 0 auto;
}

.partner-slider.owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    top: calc(50% - 17.5px);
    width: 110%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: -1;
    left: -5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.partner-slider.owl-theme .owl-nav [class*=owl-] {
    padding: 0;
    height: 35px;
    width: 35px;
    line-height: 37px;
    margin: 0;
    border-radius: 50%;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.partner-slide {
    position: relative;
}

.partner-slider.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #fff;
    color: #ff3a54;
}

.partner-slider.owl-theme .owl-dots .owl-dot.active span,
.partner-slider.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}

/* =====================
   Blog
===================== */

.blog-item {
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
    background-color: #fff;
}

.blog-1.blog-item::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background: #000;
    opacity: .3;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blog-1.blog-item:hover::after {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.blog-1.blog-item::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    content: "";
    opacity: 0.6;
    z-index: -1;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background: #000;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blog-1.blog-item:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/* blog-1 */

.blog-item {
    border-radius: 10px;
    overflow: hidden;
}

.blog-1 {
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blog-2 {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.1);
}

.blog-2 .image-wrap {
    overflow: hidden;
}

.blog-item iframe {
    width: 100%;
    height: 250px;
    border: 0;
}

.blog-2 .image-wrap img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blog-2:hover .image-wrap img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.blog-2 .blog-content {
    padding: 25px 25px 7px;
}

.blog-1 .blog-content * {
    color: #fff
}

.blog-2 .blog-meta {
    padding: 15px 25px;
}

.blog-1 .blog-content {
    padding: 0 17px 17px;
    padding-top: 60px;
    -webkit-transform: translateY(83px);
    -ms-transform: translateY(83px);
    transform: translateY(83px);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.blog-1:hover .blog-content {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s
}

.blog-1 .blog-content h5 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.blog-1 .blog-content h5 a:hover {
    color: #ff3a54;
}

.blog-2 .blog-meta {
    border-top: 1px solid #ebebeb;
}

.blog-meta img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.blog-meta li {
    text-transform: capitalize;
}

.blog-meta li span {
    position: relative;
    border: 5px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 50%;
}

.blog-meta li span::after {
    position: absolute;
}

.blog-date span {
    font-weight: 400;
    text-transform: capitalize;
    color: #000;
    max-width: 70px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    padding: 7px 7px 5px;
    font-size: 14px;
    line-height: 1.4;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blog-date span.wide-date {
    max-width: 100%;
}

.blog-item:hover .blog-date span,
.blog-2.type-1 .blog-date span {
    background-color: #ff3a54;
    color: #fff;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s
}

.blog-2 .blog-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 25px 0;
}

.blog-2.type-1 .blog-date {
    position: relative;
    padding: 25px 25px 0;
}

.blog-meta li a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
}

.blog-2 .blog-meta li a i {
    color: #1e1e1e;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blog-meta li a:hover,
.blog-meta li a:hover i {
    color: #ff3a54;
}

.carousel-nav a {
    bottom: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    line-height: 32px;
    background-color: #fff;
    opacity: 1;
    color: #000;
    border-radius: 50%;
    margin: 0 15px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.carousel-nav a:hover,
.carousel-nav a:focus {
    background-color: #ff3a54;
}

/*====================== 
   blog detail
========================*/

.blog-slider img {
    border-radius: 10px;
}

.carousel-indicators li {
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: #fff;
}

.carousel-indicators .active {
    background-color: #ff3a54;
}

.blog-d-content {
    padding: 25px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

blockquote {
    margin-bottom: 30px;
    padding: 10px 15px;
    border-left: 8px solid #ff3a54;
    margin-top: 30px;
}

blockquote p {
    margin-bottom: 0;
    font-weight: 600;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
}

.blog-detail .blog-meta li {
    margin-right: 20px;
}

.blog-detail .blog-meta li:not(:last-child)::after {
    border-right: 1px solid #e1e1e1;
    content: "";
    display: inline-block;
    z-index: 9;
    height: 22px;
    vertical-align: middle;
    margin-left: 15px;
}

.blog-detail .blog-meta {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.share-tag {
    margin-top: 20px;
    padding-top: 18px;
    border-top: 1px solid #e1e1e1;
}

.share-tag h4 i {
    font-size: 14px;
}

.blog-detail .blog-meta i {
    color: #ff3a54;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.jssocials-share {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    display: inline-block;
}

.jssocials-share:not(:last-child) {
    border-right: 1px solid #e1e1e1;
    margin-right: 13px;
    padding-right: 13px;
}

.blog-navigation .navi i {
    height: 30px;
    width: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    text-align: center;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blog-navigation .navi a:hover i {
    background-color: #ff3a54;
    border-color: #ff3a54;
    color: #fff;
}

.blog-navigation .navi {
    text-transform: capitalize;
    color: #000
}

.comments-area .title-sep2::after {
    background-color: #e1e1e1;
    height: 1px;
    width: 100%;
}

/* comments */

.comment-body {
    position: relative;
    margin-bottom: 30px;
    position: relative;
    padding-left: 120px;
}

ol.comment-list {
    position: relative;
    padding: 0;
}

.comment-author .avatar {
    position: absolute;
    left: 0;
    width: 100px;
    border-radius: 50%;
}

.comment-author .fn {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #232323;
    font-style: normal;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
}

.says {
    text-transform: capitalize;
}

.comment-meta a {
    color: #ff3a54;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    display: block;
}

.reply a {
    border: 1px solid #e1e1e1;
    border-radius: 100px;
    font-size: 14px;
    padding: 8px 25px 6px;
    text-transform: capitalize;
    position: relative;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 0;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
}

.reply a:hover {
    background: #ff3a54;
    color: #fff;
    border-color: #ff3a54;
}

.children {
    padding-left: 100px;
}

.comment-author {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

.comment-meta {
    display: inline-block;
}

.comment-form .fa {
    font-size: 14px;
    position: absolute;
    z-index: 1;
    color: #ff3a54;
    padding-top: 13px;
    padding-left: 15px;
}

.comment-form input[type='text'],
.comment-form input[type='email'] {
    padding-left: 43px;
}

.comment-form .btn .fa {
    font-size: 14px;
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 0;
}

/*====================== 
   pagination
========================*/

.pagination {
    border-radius: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-numbers {
    text-transform: capitalize;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    margin: 0 3px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #fff;
    display: inline-block;
}

.page-numbers:hover,
.page-numbers.active {
    background-color: #ff3a54;
    border-color: #ff3a54;
    color: #fff;
}

.page-numbers.prev,
.page-numbers.next {
    margin: 0;
}

.page-numbers:hover {
    background-color: #ff3a54;
    border-color: #ff3a54;
    color: #fff;
}

.pagination-blog {
    overflow: hidden;
}

.pagination-blog a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #232323;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.blog-next {
    float: right;
}

.pagination-blog a:hover {
    color: #ff3a54;
}

.pagination span.sep {
    position: relative;
    z-index: 0;
}

.pagination span.sep::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    display: inline-block;
    background: #e1e1e1;
    left: 0;
    top: 50%;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*====================== 
   sidebar
========================*/

.widget {
    margin-bottom: 60px;
    position: relative;
}

.widget:last-child {
    margin-bottom: 0;
}

.widget .title-sep2::after {
    background-color: #e1e1e1;
    height: 1px;
    width: 100%;
}

.search-box .input-group .form-control {
    border-radius: 50px 0 0 50px;
}

.search-box .input-group button {
    width: 70px;
    background-color: #ff3a54;
    border: 0;
    color: #fff;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    padding-top: 4px;
}

.widget-author {
    padding: 40px 25px 25px;
    z-index: 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(89, 89, 89, 0.1);
}

.widget-author::after {
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 90px;
    left: 0;
    top: 0;
    background-color: #ff3a54;
    background-image: url(../img/home/tri-sm.png);
}

.author-top .img-holder {
    overflow: hidden;
    border-radius: 50%
}

.author-top .img-holder img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100px;
    width: 100px;
}

.widget-author:hover .img-holder img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.author-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.socials a {
    border-color: #e1e1e1;
}

.author-info span {
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
}

.widget-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 0;
}

.widget-list li a {
    float: left;
    clear: both;
    position: relative;
    text-align: left;
    background-color: #fff;
    padding-right: 25px;
}

.widget-list li a::before {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    content: '';
    background-color: #ff3a54;
    display: inline-block;
    margin-right: 11px;
    margin-top: 7px;
    vertical-align: top;
}

.widget-list li::after {
    position: absolute;
    content: "";
    top: 13px;
    right: 40px;
    height: 1px;
    width: 150px;
    margin-left: 80px;
    vertical-align: middle;
    display: inline-block;
    background-color: #e1e1e1;
    z-index: -1;
}

.widget-list li:hover {
    color: #ff3a54;
}

.news-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.news-post:last-child {
    margin-bottom: 0
}

.news-post .thumb {
    width: 80px;
    margin: 0;
    margin-right: 15px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.news-post .thumb img {
    border-radius: 5px;
}

.news-content a {
    color: #000;
    line-height: 1;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.news-content a:hover {
    color: #ff3a54;
}

.news-content p {
    color: #ff3a54;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 0;
}

.tagcloud {
    margin-bottom: -8px;
}

.tagcloud li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 8px;
}

.tagcloud li a {
    display: block;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    -webkit-transition: all .3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
    padding: 5px 20px 3px;
    border-radius: 30px;
}

.tagcloud a:hover {
    background-color: #ff3a54;
    border-color: #ff3a54;
    color: #fff;
}

/* =====================
    Counters
======================== */

.counters {
    background-image: url(../img/home/count-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    z-index: 0;
}

.counters::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background: #000;
    opacity: .7;
    z-index: -1;
}

.counter-box {
    text-align: center;
    position: relative;
}

.counter-box .icon-box i {
    font-size: 50px;
    color: #fff
}

.counter-box .icon-box {
    padding-bottom: 30px;
    margin-bottom: 25px;
    position: relative;
}

.counter-box .icon-box::after {
    position: absolute;
    background-color: #fff;
    opacity: 0.3;
    height: 1px;
    content: '';
    bottom: 0;
    right: -15px;
    left: -15px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.counter-box .icon-box::before {
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 10px;
    content: '';
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.counter-box h2 {
    margin-bottom: 0;
}

.counter-box p {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

/* =====================
    testimonial
======================== */

.testi-item {
    display: table;
}

.testi-item .img-holder,
.testi-content {
    display: table-cell;
    vertical-align: middle;
}

.testi-item .img-holder img {
    border-radius: 10px;
}

.testi-content {
    padding-left: 20px;
}

.testi-slider1 .owl-dots {
    position: relative;
}

.testi-slider1 .owl-dots::after {
    position: absolute;
    top: 8px;
    content: "";
    left: 0;
    background-color: #e1e1e1;
    width: 100%;
    height: 1px;
    z-index: -1;
}

.testi-slider1.owl-theme .owl-dots .owl-dot {
    background-color: #f5f7fa;
    position: relative;
}

.testi-slider1.owl-theme .owl-dots .owl-dot:first-child {
    padding-left: 60px;
}

.testi-slider1.owl-theme .owl-dots .owl-dot:last-child {
    padding-right: 60px;
}

/* =====================
    app section
======================== */

.app-img img {
    -webkit-filter: drop-shadow(19px 37px 20px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(19px 37px 20px rgba(0, 0, 0, 0.2))
}

.app-content * {
    color: #fff;
}

/* ==========================
   theme-map
============================*/

#theme-map {
    height: 400px;
    width: 100%;
}

.map-sidebar #theme-map {
    height: 200px;
    border-radius: 10px;
}

/* ==========================
   contact us
============================*/

.contact-box {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(98, 98, 98, 0.15);
    box-shadow: 0px 0px 30px 0px rgba(98, 98, 98, 0.15);
    position: relative;
    z-index: 99;
}

.contact-box .custom-form .form-control {
    border-radius: 5px;
    margin-bottom: 30px;
}

.contact-left {
    padding: 40px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    border-right: 1px solid #e1e1e1;
}

.contact-right {
    padding: 40px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
}

.contact-info li {
    margin-bottom: 15px;
}

.contact-info li:last-child {
    margin-bottom: 0;
}

.contact-social {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e1e1e1;
}

.contact-info li i {
    height: 30px;
    text-align: center;
    font-size: 14px;
    width: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    padding-top: 8px;
    color: #ff3a54;
    border-color: #ff3a54;
    margin-right: 10px;
}

/* ==========================
    page-banner
============================*/

.page-banner {
    position: relative;
    z-index: 0;
    background-image: url('../img/pages/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    background-position: center;
    padding: 90px 0;
    padding-top: 180px;
    z-index: 1;
}

.page-banner.type-2 {
    padding-top: 205px
}

.page-banner::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.80;
    background-color: #000;
    z-index: -1;
}

.page-banner h3 {
    color: #fff;
    margin: 0;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 1;
    position: relative;
    padding-bottom: 14px;
}

.page-banner h3::after {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: 1px;
    width: 60px;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.banner-link li {
    display: inline-block;
    position: relative;
    margin: 6px 0 0;
    margin-right: 5px;
}

.banner-link li::after {
    content: '\f105';
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.banner-link li:last-child {
    margin-right: 0;
}

.banner-link li a {
    color: #fff;
    text-transform: uppercase;
    padding-right: 5px;
}

.banner-link li:last-child::after {
    display: none;
}

.banner-link li span {
    color: #ff3a54;
    text-transform: uppercase;
}

/* ==========================
    about us
============================*/

.abt-img {
    position: relative;
    z-index: 0;
}

.abt-img2 {
    position: absolute;
    right: -40%;
    top: -35px
}

.abt-img::after {
    position: absolute;
    content: "";
    width: 1000px;
    right: 0;
    height: 220px;
    border-top-right-radius: 220px;
    border-bottom-right-radius: 220px;
    background-color: #ff3a54;
    bottom: 0;
    z-index: -1;
}

.list-1 li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 5px;
    color: #000;
    font-size: 12px;
    vertical-align: middle;
}

.list-1 li:not(:last-child) {
    padding-bottom: 16.5px;
}

/* =====================
    team
======================== */

.team-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.team-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    left: 30px;
    right: 30px;
    bottom: 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    -webkit-transform: translateY(calc(100% - 120px));
    -ms-transform: translateY(calc(100% - 120px));
    transform: translateY(calc(100% - 120px));
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.team-item:hover .team-overlay {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: rgba(255, 58, 84, 0.85);
}

.t-inner {
    padding: 30px 40px;
}

.t-inner *:not(i) {
    color: #fff;
}

.t-inner h5 {
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.t-inner span {
    display: block;
    text-transform: capitalize;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.t-inner .socials a:hover {
    color: #000
}

/* =====================
    Error page
 ===================== */

.error-page {
    background-image: url(../img/home/triangle-bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.error-content {
    padding: 80px 0 0;
}

.error-content h2 {
    font-size: 150px;
    color: #ff3a54;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
    text-shadow: -6px 3px 2px #ad0017;
}

.error-content span {
    line-height: 1;
    font-size: 40px;
    color: #ff3a54;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}

.error-content p {
    color: #ff3a54;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 500px;
}

.error-page img {
    width: 100%;
}

.error-content .search-box {
    max-width: 400px;
    margin: 0 auto;
}

.error-content .input-group {
    -webkit-box-shadow: 0 0 20px #e5e5e5;
    box-shadow: 0 0 20px #e5e5e5;
    border-radius: 100px;
}

.error-content .form-control {
    border-color: #fff;
}

.back-to-home {
    text-align: center;
}

.back-to-home a i {
    height: 60px;
    width: 60px;
    line-height: 60px;
    border: 1px solid #ff3a54;
    border-radius: 50%;
    background-color: #fff;
    font-size: 25px;
    color: #ff3a54;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.back-to-home a:hover i {
    background-color: #ff3a54;
    color: #fff;
}

.back-to-home a {
    font-size: 14px;
    color: #ff3a54;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
}

/* =====================
    FAQ 
 ===================== */

.faq-tabs {
    display: block;
}

.acc-card {
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    overflow: hidden;
}

.acc-card:last-child {
    margin-bottom: 0;
}

.faq-tabs .nav-item {
    margin-bottom: 10px;
}

.faq-tabs .nav-link {
    display: block;
    border: 1px solid #e1e1e1;
    text-transform: capitalize;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 8px 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.faq-tabs .nav-link::after {
    position: absolute;
    border-radius: 100px;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.faq-tabs .nav-link.active::after {
    -webkit-animation: circle .75s;
    animation: circle .75s;
    opacity: 1;
}

.faq-tabs .nav-link::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0da';
    margin-right: 8px;
}

.faq-tabs .nav-link:hover,
.faq-tabs .nav-link.active {
    background-color: #ff3a54;
    color: #fff;
    border-color: #ff3a54;
}

.acc-link {
    width: 100%;
    display: block;
    text-align: left;
    padding: 10px;
    padding-left: 15px;
    background-color: #fff;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.acc-link:before,
.acc-link.collapsed:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f105';
    margin-right: 8px;
}

.acc-link:before {
    content: '\f107';
}

.card-body {
    border-top: 1px solid #e1e1e1;
}

/* =====================
    Login 
 ===================== */

.login-section {
    position: relative;
    background-color: #fff;
    z-index: 0;
}

.log-tab li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.log-tab li .nav-link {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    padding-top: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.log-tab li .nav-link::after {
    position: absolute;
    background-color: #ff3a54;
    height: 1px;
    width: 0;
    content: '';
    bottom: -1px;
    left: 0;
}

.log-tab li .nav-link.active {
    color: #ff3a54;
}

.log-tab li .nav-link.active::after {
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.custom-form .form-control {
    padding-left: 50px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.custom-form .fa {
    font-size: 14px;
    position: absolute;
    z-index: 1;
    color: #ff3a54;
    padding-top: 13px;
    padding-left: 22px;
}

.paswd {
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.paswd:hover {
    color: #ff3a54;
}

.seprator {
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.seprator span {
    text-transform: capitalize;
    background-color: #fff;
    padding: 0 15px;
}

.seprator::before {
    position: absolute;
    background-color: #e1e1e1;
    height: 1px;
    width: 70%;
    content: '';
    z-index: -1;
}

.signin-socials {
    text-align: center;
}

.signin-socials .btn i {
    margin-right: 4px;
    font-size: 12px;
    vertical-align: top;
    padding-top: 3px;
}

.signin-socials .btn {
    color: #fff;
}

.fb {
    background-color: #4267b2;
}

.twitter {
    background-color: #38a1f3;
}

.google {
    background-color: #d34836;
}

/* =====================
    Pricing
======================== */

.price-item {
    text-align: center;
    background-color: #e1e1e1;
    padding-bottom: 60px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.price-item.active {
    background-color: #ff3a54;
}

.price-top {
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
    margin-left: -15px;
    margin-right: 15px;
    margin-bottom: -15px;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    padding: 30px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(84, 84, 84, 0.15);
    box-shadow: 0px 0px 20px 0px rgba(84, 84, 84, 0.15);
    border-radius: 10px;
}

.price-top sup {
    top: 13px;
    left: 15px;
    font-size: 0.35em;
    vertical-align: top;
}

.price-top h2 {
    font-size: 60px;
    line-height: 1;
    margin: 0;
}

.plan-info-list p {
    text-transform: capitalize;
}

.plan-info-list li:last-child p {
    margin-bottom: 0;
}

.amount {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

.price-bottom .btn {
    color: #000;
}

.active .price-bottom .btn {
    color: #ff3a54;
}

/* =====================
    Add Listing Page
======================== */

.listing-form label {
    color: #000;
    text-transform: capitalize;
}

.listing-form textarea.form-control {
    height: 244px;
}

.minus-pad {
    margin-bottom: -8px;
}

.drop-file {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    height: 230px;
    border-radius: 5px;
}

.drop-file a i,
.drop-file a p {
    color: #ff3a54;
}

.remove-section {
    margin: 8px 0;
    display: inline-block;
}

.remove-section i {
    color: #ff3a54;
}

.add-section {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ff3a54;
    display: inline-block;
    text-align: center;
    color: #ff3a54;
    line-height: 40px;
    cursor: pointer;
}

.listing-submit {
    border-top: 1px solid #e1e1e1;
    padding-top: 30px;
}

.filter-box .form-control {
    border-radius: 100px;
}

.input-wrap {
    position: relative;
}

.input-wrap i {
    position: absolute;
    right: 16px;
    top: 13px;
    text-align: right;
    color: #000;
    width: 17px;
    z-index: 1;
}

/* =====================
    Range-slider
======================== */

.range-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    border: 1px solid #e1e1e1;
    text-transform: capitalize;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 100px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #fff;
    color: #858585;
    font-weight: 400;
    position: relative;
    padding: 8px 15px 6px;
    height: 40px;
}

.range-box p {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-right: 20px;
}

.range-slider {
    width: 100%;
    line-height: 1;
    position: relative;
}

.range-track {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #e1e1e1;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-track::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    z-index: 99;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #ff3a54;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ff3a54;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ff3a54;
}

.range-value {
    color: #ff3a54;
}

.fill {
    z-index: 1;
    height: 2px;
    position: relative;
    background-color: #ff3a54;
    margin-top: -4.6px;
}

.toggle-checklist {
    text-align: center;
    position: relative;
    z-index: 0;
}

.toggle-checklist::after {
    width: 100%;
    content: '';
    height: 1px;
    background-color: #e1e1e1;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 50%;
}

.toggle-checklist .toggle-icon {
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #ff3a54;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    line-height: 41px;
}

.toggle-checklist .toggle-icon i {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.toggle-checklist .toggle-icon.open i {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.views {
    height: 40px;
    width: 40px;
    text-align: center;
    border: 1px solid #e1e1e1;
    display: inline-block;
    border-radius: 50%;
    line-height: 41px;
    margin-left: 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.views.current {
    border-color: #ff3a54;
    color: #ff3a54;
}

.sort-dropdown {
    position: relative;
}

.sort-dropdown .dropdown-toggle {
    border: 1px solid #e1e1e1;
    text-transform: capitalize;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 100px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #fff;
    color: #858585;
    font-weight: 400;
    position: relative;
    padding: 8px 15px 6px;
    height: auto;
    width: 100%;
    display: block;
}

.sort-dropdown .dropdown-item {
    text-transform: capitalize;
    padding: 10px 20px;
}

.sort-dropdown .dropdown-item:hover {
    background-color: #e1e1e1;
}

.sort-dropdown .dropdown-menu {
    opacity: 1;
    visibility: visible;
    left: 0;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    display: none;
    min-width: 100%;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(105, 105, 105, 0.1);
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.1);
}

.sort-dropdown .dropdown-toggle::after {
    right: 15px;
    position: absolute;
    content: "\f0d7";
}

.sort-dropdown .dropdown-menu.show {
    display: block;
}

.listing-list-view,
.list-grid-view {
    display: none;
}

.show-list {
    display: block;
}

/* =====================
    footer
======================== */

.footer {
    position: relative;
}

.footer .foot-top {
    padding: 100px 0 40px;
    background-image: url(../img/home/foot-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer.footer-two .foot-top {
    background-image: url(../img/home/foot-bg2.png);
}

.footer-one {
    background-color: #1e1e1e;
}

.footer-two {
    background-color: #fff;
}

.footer-one * {
    color: #fff;
}

.footer-one .socials a:hover i {
    color: #ff3a54;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.foot-title {
    margin-bottom: 28px;
}

.foot-title h4 {
    padding-bottom: 15px;
    position: relative;
}

.footer-one .foot-title h4 {
    color: #fff;
}

.foot-title h4::after {
    position: absolute;
    background-color: #ff3a54;
    height: 2px;
    width: 40px;
    content: '';
    bottom: 0;
    left: 0;
}

.quick-link li {
    margin-bottom: 15px;
}

.quick-link li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.quick-link li a {
    position: relative;
    padding-left: 30px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.quick-link li a:hover {
    color: #ff3a54;
}

.quick-link li a:after {
    font-size: 17px;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1;
    transition: all 0.3s cubic-bezier(0.82, 1.65, 0.86, 1.96);
    -webkit-transition: all 0.3s cubic-bezier(0.82, 1.65, 0.86, 1.96);
    -moz-transition: all 0.3s cubic-bezier(0.82, 1.65, 0.86, 1.96);
    -ms-transition: all 0.3s cubic-bezier(0.82, 1.65, 0.86, 1.96);
    -o-transition: all 0.3s cubic-bezier(0.82, 1.65, 0.86, 1.96);
}

.quick-link li a:hover:after {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
    color: #ff3a54;
}

.foot-bottom {
    padding: 21px 0 7px;
    text-align: center;
    border-top: 1px solid #e1e1e1;
}

.footer-one .foot-bottom {
    border-top: 1px solid #333;
}

.footer-two .foot-bottom p {
    color: #000;
}

.foot-bottom a {
    color: #ff3a54;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.foot-bottom a:hover {
    color: #fff;
}

.footer-two .foot-bottom a:hover {
    color: #000;
}

/*======================
    Custom checkbox
========================*/

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1.5px;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 3px;
}

/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after {
    content: '\f00c';
    position: absolute;
    background: #ff3a54;
    font-size: 0.7em;
    line-height: 1em;
    border-radius: 3px;
    left: 0px;
    padding-left: 0.5px;
    padding-top: 1.4px;
    text-align: center;
    top: 1.5px;
    width: 15px;
    height: 15px;
    color: #ffffff;
    transition: all 0.4s cubic-bezier(0.82, 1.65, 0.54, 1.53);
    -webkit-transition: all 0.4s cubic-bezier(0.82, 1.65, 0.54, 1.53);
    -moz-transition: all 0.4s cubic-bezier(0.82, 1.65, 0.54, 1.53);
    -ms-transition: all 0.4s cubic-bezier(0.82, 1.65, 0.54, 1.53);
    -o-transition: all 0.4s cubic-bezier(0.82, 1.65, 0.54, 1.53);
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]+label,
[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label {
    margin: 0;
    line-height: 1.3;
    padding-left: 1.6em;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
    color: #858585;
}

/* =====================
    Listing with Map
======================== */

#map-container {
    height: 100%;
}

.list-first {
    padding: 100px 30px;
}

.list-map #panel {
    display: none;
}

.listing-map {
    width: 100%;
    height: 100%;
}

.list-map {
    height: 400px;
}

.listing-map div {
    color: #fff !important;
    font-size: 15px !important;
}

.listing-map .gm-style-mtc div {
    color: #000 !important;
}

.listing-map .gm-ui-hover-effect {
    background-color: #fff !important;
    opacity: 1;
    color: #000 !important;
    border-radius: 50%;
}

.listing-map .gm-style .gm-style-iw-c {
    overflow: visible !important;
    padding: 15px;
}

.listing-map .info {
    width: 250px;
}

.listing-map .img-holder {
    width: 100%;
}

.listing-map .img-holder img {
    width: 100%;
}

/* ==========================
    listing detail page
============================= */
.listing-detail-slider{
    position: relative;
}
.listing-detail-slider.owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    top: calc(50% - 17.5px);
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 0;
    left: 0.5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.listing-detail-slider.owl-theme .owl-nav [class*=owl-] {
    padding: 0;
    height: 35px;
    width: 35px;
    line-height: 37px;
    margin: 0;
    border-radius: 50%;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0 5px #e9e9e9;
    box-shadow: 0 0 5px #e9e9e9;
}

.listing-detail-slider.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #ff3a54;
    color: #fff;
}

.list-slide img {
    border-radius: 10px;
}
.abt-listing{
    padding: 20px;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0 0 10px rgba(105, 105, 105, 0.1);
    box-shadow: 0 0 10px rgba(105, 105, 105, 0.1);
}
.listing-detail .ctg-info {
    border-bottom: 0;
}

.listing-detail .ctg-info li {
    color: #000;
    font-size: 16px;
    border-color: #ccc;
    padding-right: 25px;
    margin-right: 25px;
}

.listing-detail .ctg-info li i {
    font-size: 14px;
}

.general-listing {
    margin-bottom: 30px;
    padding: 8px;
    border: 1px solid #e1e1e1;
    margin-bottom: 30px;
    border-radius: 10px;
}
.general-listing .listing-content {
    padding-top: 15px;
    padding-bottom: 15px;
}
.general-listing .image-holder img {
    border-radius: 5px;
}

.aminities {
    margin-bottom: 8px;
}

.aminities i {
    color: #ff3a54;
    margin-right: 5px;
}

.aminities span {
    text-transform: capitalize;
}

.stat-box,
.add-review {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    text-align: center;
    padding: 20px 10px;
    padding-bottom: 0;
    margin-bottom: 30px;
}

.add-review i {
    margin-bottom: 10px;
}

.stat-box i {
    color: #ff3a54;
    display: inline-block;
    margin-bottom: 15px;
}

.add-review .rating {
    margin-bottom: 5px;
}

.rating-big-box {
    background-color: #ff3a54;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    border-radius: 5px;
}

.rating-big-box h2,
.rating-big-box h6 {
    color: #fff;
    margin-bottom: 0;
    line-height: 1;
}

.review-btn {
    border: 1px solid #e1e1e1;
}

.rating-bar-box:not(:last-child) {
    margin-bottom: 15px;
}

.rating-bar-box h6 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}

.rating-bars {
    width: 100%;
    height: 5px;
    background-color: #e1e1e1;
    position: relative;
}

.bar-fill {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #ff3a54;
    content: "";
}

.review-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.review-box .image-holder {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 20px;
}

.review-box .image-holder img {
    width: 100px;
    border-radius: 50%;
}

.rate-bg {
    background-color: #ff3a54;
    color: #fff;
    border-radius: 30px;
    width: 50px;
    text-align: center;
    padding-top: 2px;
}

.booking-form label {
    color: #000;
    text-transform: capitalize;
}

.qty {
    width: 20px;
    border: 0;
    text-align: center;
    line-height: 1;
    padding-top: 3px;
    margin: 0 15px;
}

.inc-dec-control button {
    background: none;
    height: 20px;
    width: 20px;
    padding: 0;
    line-height: 20px;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.inc-dec-control button:hover {
    background-color: #ff3a54;
    color: #fff;
    border-color: #ff3a54;
}

.add-person {
    padding: 7px;
}

.total-cost {
    padding-top: 25px;
    border-top: 1px solid #e1e1e1;
}

.total-cost p,
.opening-hours p {
    color: #000;
    text-transform: capitalize;
    margin: 0;
}

.sidebar-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar-socials .side-icon i {
    height: 30px;
    text-align: center;
    font-size: 14px;
    width: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    padding-top: 8px;
    color: #ff3a54;
    border-color: #ff3a54;
    margin-right: 15px;
}

.sidebar-listing-slider .listing-item {
    border: 1px solid #e1e1e1;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

.sidebar-listing-slider .owl-dots {
    position: relative;
}

.sidebar-listing-slider .owl-dots::after {
    position: absolute;
    top: 8px;
    content: "";
    left: 0;
    background-color: #e1e1e1;
    width: 100%;
    height: 1px;
    z-index: -1;
}

.sidebar-listing-slider.owl-theme .owl-dots .owl-dot {
    background-color: #fff;
    position: relative;
}

.sidebar-listing-slider.owl-theme .owl-dots .owl-dot:first-child {
    padding-left: 20px;
}

.sidebar-listing-slider.owl-theme .owl-dots .owl-dot:last-child {
    padding-right: 20px;
}
.sp-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}205020
.mainpadd {
    padding-top: 50px!important;
}
